/auto-save-list/.saves-11032-palmtree~
/#configuration.org#
/.#configuration.org
/auto-save-list/.saves-13727-palmtree~
i
i
/auto-save-list/.saves-22810-palmtree~
/auto-save-list/.saves-23315-palmtree~
/auto-save-list/.saves-24591-palmtree~
/auto-save-list/.saves-25447-palmtree~
/auto-save-list/.saves-30994-palmtree~
/auto-save-list/.saves-1977-palmtree~
/auto-save-list/.saves-4734-palmtree~
/auto-save-list/.saves-814-palmtree~
/#todo.org#
/#todo.org_archive#
/auto-save-list/.saves-12730-palmtree~
/auto-save-list/.saves-2154-palmtree~
/auto-save-list/.saves-22577-palmtree~
/auto-save-list/.saves-3596-palmtree~
/auto-save-list/.saves-3718-palmtree~
/auto-save-list/.saves-722-palmtree~
/auto-save-list/.saves-734-palmtree~
/auto-save-list/.saves-751-palmtree~
/auto-save-list/.saves-795-palmtree~
/elpa/pdf-tools-20180428.827/epdfinfo
/elpa/pdf-tools-readme.txt
